@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background:linear-gradient(rgba(255,255,255,.52),rgba(255,255,255,.52)), url(../images/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  overflow-y: hidden;
  font-family: 'Baloo 2', cursive;
  font-weight: 400;
  color: #2F1242;
}

p{
  margin-bottom: 20px;
  font-size: 16px;
}

h1{
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}

h2{
  font-weight: 700;
  font-size: 18px;
  margin-top: -15px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.geral {
  margin: 16px 140px 0px 140px;  
  min-height: 100vh;
}

header{
  background-color: #FFF;
  display: flex;  
  align-items: center;
  padding: 10px 8px;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.10);
  -moz-box-shadow:    4px 4px 10px 0px rgba(50, 50, 50, 0.10);
  box-shadow:         4px 4px 10px 0px rgba(50, 50, 50, 0.10);
}

header .logo,
header nav,
.index-content,
.cadastro-content,
.consulta-content,
.pet-image{
  width: 50%;
}

header .logo img{
  width: 240px;
}

header nav{
  padding: 4px 10px;
  text-align: right;
}

header nav ul li{
  display: inline;
  margin: 0px 10px;
}

header nav a{
  color: #2F1242;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}
header nav a:link,
header nav a:visited{
  color:#2F1242;
}
header nav a:hover,
header nav a:active{
  color: #b048c5;
}





.wrapper{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-index img{
  width: 68%;
  height: auto;
}

.index-content span{
  color: #FD64A7;
}




.links div{
  display: flex;
  align-items: center;
}

.links i{
  font-size: 20px;
  margin-right: 8px;
}

.links a{
  margin-right: 30px;
  color: #2F1242;
  text-decoration: none;
}

.links a:link,
.links a:visited{
  color:#2F1242;
}

.links a:hover,
.links a:active{
  color: #b048c5;
}


